<%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>

    <style>
         #eti {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           

        }

        section {
            margin: 15px;
        }
    </style>

    

    <header class="bg-primary text-white text-center p-4">
        <h2>Toyota Mazatlán</h2>
    </header>  

    <section>
        <form action="cotizacion" method="post">
            <input type="text" name="txtNumFolio" id="txtNumFolio" value="0123" readonly>
            <input type="text" name="txtDescripcion" id="txtDescripcion" value="Yaris SX" readonly >
            <input type="text" name="txtPrecio" id="txtPrecio" value="220000 "readonly>
            <input type="text" name="txtPorcentaje" id="txtPorcentaje" value="25%" readonly>
            <select name="cmbPlazos" id="cmbPlazos">
                <option value=0>Seleccione un plazo</option>
                <option value=36>36 Meses</option>
            </select>

            <button id="btnCalcular">Calcular</button>
            <button type="reset" id="btnLimpiar">Limpiar</button>

            <div id="eti">                

            
                <div>
                    <label for="">Pago Inicial $</label>
                    <label for="" id="lblPagoInicial"></label>
                </div>

                <div>
                    <label for="">Total a financiar $</label>
                    <label for="" id="lblTotalFinanciar"></label>
                </div>
                
                <div>
                    <label for="">Pago Mensual $</label>
                    <label for="" id="lblPagoMensual"></label>
                </div>

                <script> 

                    const lblTotalFinanciar = document.getElementById('lblTotalFinanciar')

                    const lblPagoMensual = document.getElementById('lblPagoMensual')

                    const lblPagoInicial = document.getElementById('lblPagoInicial');

                    

                    const precio = document.getElementById('txtPrecio').value;
                
                    let prc = 0.25;
                    
                    function limpiar(){
                        lblPagoInicial.textContent = "";
                        lblTotalFinanciar.textContent = "";
                        lblPagoMensual.textContent = "";
                    }

                    
                    document.getElementById('btnCalcular').addEventListener('click', ()=>{

                        event.preventDefault();

                        const plazo = document.getElementById('cmbPlazos').value;

                        if(plazo == 0){
                            console.log(plazo);
                            limpiar();

                            alert("Seleccione un plazo");
                            return;
                            

                        }
                        else {
                            console.log(plazo);
                            let pagoInicial = precio * prc;
                            let totalFinanciar = precio - pagoInicial ;
                            let pagoMensual = totalFinanciar/plazo;

                            lblPagoInicial.textContent = pagoInicial;
                            lblTotalFinanciar.textContent = totalFinanciar;
                            lblPagoMensual.textContent = pagoMensual;

                        } 
                        
                    });

                    document.getElementById('btnLimpiar').addEventListener('click', ()=>{
                            limpiar();
                    });

                    
                </script>
               
            </div>
            
           

            

        </form>
    </section> 
    <%-include('partials/footer.ejs')%>
    </body>
</html>