<%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui eos earum vero natus, voluptatibus rerum debitis ducimus, possimus quisquam deserunt nisi tempore accusantium cum nulla accusamus exercitationem molestiae perspiciatis totam.
    Cupiditate corporis deleniti a modi est aut ipsam saepe, ullam inventore itaque totam adipisci id perferendis pariatur consequatur similique, temporibus iusto? Quo unde dolor iste obcaecati dolores, quidem doloribus? Incidunt?
    Consequatur dolore officia eius placeat temporibus quibusdam fuga iste delectus odio nobis natus incidunt, laudantium perspiciatis provident? Praesentium asperiores non illo ea molestiae dolores, cupiditate blanditiis dolore maiores perspiciatis excepturi.
    Debitis, quaerat explicabo. Ut architecto similique nesciunt at magnam blanditiis voluptatibus ipsum necessitatibus labore earum ratione cum quo facilis repudiandae impedit nihil autem dolorum, reprehenderit quidem id adipisci incidunt! Sit?
    Nobis, corrupti dignissimos officia error aliquam harum nihil tempore facere alias eum? Voluptate consequuntur perspiciatis porro amet! Iusto quae aspernatur labore, recusandae deserunt delectus, dolor ea quaerat in fugit dicta.</p>
    <%-include('partials/footer.ejs')%>
    </body>
</html>
