<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%-include('header.ejs')%>
    <%-include('nav.ejs')%>

    <header>
        <picture>
            <img src="" alt="">
        </picture>

        <h2>Toyota Mazatlán</h2>
        
    </header>

    <section>
        <form action="cotizacion" method="post">
            <input type="number" name="txtNumFolio" id="txtNumFolio" value=<%=numFolio%/> required>
            <input type="text" name="txtDescripcion" id="txtDescripcion" value=<%=descripcion%/> required>
            <input type="number" name="txtPrecio" id="txtPrecio" value=<%=precio%/> required>
            <input type="number" name="txtPorcentaje" id="txtPorcentaje" value=<%=porcentaje%/> required>
            <select name="cmbPlazos" id="cmbPlazos">
                <option value="36">36 Meses</option>
            </select>

            <button type="submit">Calcular</button>
            <button type="reset">Limpiar</button>

            <label for="">Pago Inicial $</label>
            <label for="" id="lblPagoInicial"></label>
            <label for="">Total a financiar $</label>
            <label for="" id="lblTotalFinanciar"></label>
            <label for="">Pago Mensual $</label>
            <label for="" id="lblPagoMensual"></label>

            

        </form>
    </section>


</body>
</html>